{{label-field propertyBinding="view.property" textBinding="view.fieldLabel"}}
<div class="{{unbound view.wrapperConfig.controlsWrapperClass}}">
    {{#each item in view.elements itemController="radioItem"}}
        <div class="radio">
            <label>
                {{view Ember.RadioButton nameBinding="view.property" checkedBinding="selected" selectionBinding="selected" valueBinding=item.name}}
                {{unbound label}}
            </label>
        </div>
    {{/each}}

    {{#if view.showError}}
        {{error-field propertyBinding="view.property"}}
    {{/if}}
    {{#if view.hint}}
        {{hint-field propertyBinding="view.property" textBinding="view.hint"}}
    {{/if}}
</div>